name: cijobs
on:
  push:
    branches: [master]
    paths:
      - "src/**"
      - ".github/workflows/**"
  pull_request:

env:
  IMAGE_REG: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  test:
    name: Tests & Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'
      
      - name: Make Maven wrapper executable
        run: chmod +x ./mvnw
      
      - name: Run linting
        run: ./mvnw checkstyle:check
      
      - name: Run tests
        run: ./mvnw test
      
      - name: Upload test results
        uses: actions/upload-artifact@v4
        if: ${{ always() && !env.ACT }}
        with:
          name: test-results
          path: target/surefire-reports/*.xml
      
      - name: Publish test results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: ${{ always() && !env.ACT }}
        with:
          files: target/surefire-reports/*.xml

  build:
    name: Build Push Image
    needs: test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'
      
      - name: Make Maven wrapper executable
        run: chmod +x ./mvnw
      
      - name: Build with Maven
        run: ./mvnw clean package -DskipTests
      
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.IMAGE_REG }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_REG }}/${{ env.IMAGE_NAME }}
      
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v2
        with:
          subject-name: ${{ env.IMAGE_REG }}/${{ env.IMAGE_NAME}}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true